* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header .search-bar input {
    padding: 5px;
    border: 1px solid #ddd;
}

.header .search-bar button {
    padding: 5px 10px;
    background-color: #8e7ab5;
    color: #fff;
    border: none;
    justify-content: center;
    align-items: center;   
}


.header text {
    text-align: center;
}

.header .header-icons span {
    margin-left: 20px;
    text-align: right;
}

.main-content {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
}

.sidebar h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

.sidebar ul {
    list-style: none;
    font-size: small;
}

.sidebar ul li {
    margin: 5px 0;
}

.ratings span, .tags .tag, .button {
    display: inline-block;
    margin: 5px 0;
    font-size: small;
}

.tags .tag {
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
    padding: 5px;
}

.product {
    background-color: #fff;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.product h4 {
    margin: 10px 0;
}

.product p {
    color: #676465;
    font-weight: normal;
}

.footer {
    padding: 20px;
    text-align: center;
    background-color: #0f0e0e;
    border-top: 1px solid #0c0c0c;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer input {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer button {
    padding: 10px 20px;
    background-color: #8e7ab5;
    color: #fff;
    border: none;
}